Downloaded Profiling Logs/*
.svn
obj

bin

deploy

deploy/*

_ReSharper.*

*.csproj.user

*.resharper.user

*.resharper

*.suo


~$*

*.bak

*.log
*.tmp
*.obj

*.suo

*.swp

*.user

*ReSharper*

*resharper*

_compareTemp

_notes

aspnet_client

TestResults
TestResults/*

bin

bin/*

httpd.parse.errors

obj  

Thumbs.db 

csx

*.sass-cache

/ProjectDocs/Tech/js_backbone_boilerplate
/ProjectDocs/Tech/Infographic/nba_statefarm/
/ProjectDocs/Designs/Current/Facebook Page_10_SFNBA_sliced.psd
/ProjectDocs/Designs/Current/Facebook Page_11_SFNBA_sliced.psd
/ProjectDocs/Designs/Current/Facebook Page_Canvas_3.psd