<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AwsSecretAccessKey" value="" />
    <add key="AwsAccessKeyId" value="" />
    <add key="VerifiedEmailAddress" value="" />
    <add key="SecondaryVerifiedEmailAddress" value="" />
    <add key="SmtpUsername" value="" />
    <add key="SmtpPassword" value="" />
    <add key="SmtpServerName" value="" />
    <add key="SmtpPort" value="587" />
  </appSettings>  
</configuration>